<!DOCTYPE html>
<html lang="en">

<head>
    {% load markdown_extras %}
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selvaganesh</title>



    <!--- google font API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Highlight Js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/night-owl.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>




    <!-- style sheet ref link-->
    <link rel="stylesheet" href="{% static 'blog/blog.css'%}">
</head>

<body>
    <p id="back-btn"><a href="{% url 'blog:blogs' %}">Back</a></p>
    <div class="content">
        <div class="main-img">
            <img src="{{ blog.image.url }}" alt="Blog Image">
        </div>
        <div class="heading-box">
        <div class="with-img">
            <img id="author-img"
                src="https://raw.githubusercontent.com/selvaganesh3m/selvaganesh3m.github.io/refs/heads/master/images/selva.jpeg"
                alt="author-img">
            <div class="without-img">
                <p id="blog-name">{{ blog.name }}</p>
                <p id="created-time">{{ blog.created_at }}</p>
            </div>
        </div>
    </div>


        <hr>
        {{ blog.content|markdown|safe }}
        <br>
        <p id="updated-time">Last updated: {{ blog.updated_at }}</p>
    </div>
</body>