<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selvaganesh</title>



    <!--- google font API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">


    <!-- style sheet ref link-->
    <link rel="stylesheet" href="{% static 'blog/home.css'%}">

</head>

<body>
    <!-- About and Blog Button -->
    <div class="about">
        <p><a id="openDialog" href="#">About Me</a></p> <!--Link will open "about me" dialog box-->
        <p><a href="{% url 'blog:blogs' %}">Blogs</a></p>
    </div>

    <!-- Image name role  -->
    <div class="center-div">
        <!-- Only Image and name -->
        <div>
            <div class="img-div">
                <img src="https://selvaganesh3m.github.io/images/selva.jpeg" alt="Description of image">
            </div>
            <p id="name">Selvaganesh</p>
            <p id="role">An indie software developer</p>
        </div>

        <!-- Handles  -->
        <div class="handles">
            <p><a href="https://x.com/selvaganesh3m" target="_blank">Twitter</a></p>
            <p><a href="https://www.instagram.com/selvaganeshmanokaran/" target="_blank">Instagram</a></p>
            <p><a href="https://github.com/selvaganesh3m" target="_blank">Github</a></p>
        </div>
    </div>


    <!-- Custom Dialog Box -->
    <div id="dialog">

        <!-- Close Button -->
        <img id="closeDialog" src="{% static 'images/close-button.png' %}" alt="Close"
            style="cursor: pointer; width: 30px;">

        <p>Hi Reader,</p>
        <p id="para">
            I’m a full-stack software developer with over 4 years of hands-on experience building scalable, high-performance web applications. From designing clean user interfaces to writing robust backend logic, I enjoy working across the stack to bring digital ideas to life. My journey in tech has been fueled by curiosity and a love for building products that solve real-world problems.
        </p>
        <p id="para">
            In addition to my professional role, I’m also an indie software developer. I love experimenting with new technologies and launching personal projects that challenge me to grow beyond the workplace. This independence allows me to be both creative and technical, exploring ideas without limitations and learning from every success or failure.
        </p>
        <p id="para">
            Outside of coding, I’m an avid reader—especially of self-help books. These reads inspire me to improve my mindset, productivity, and personal development. The lessons I pick up from books often influence how I approach work, relationships, and even how I manage my time.
        </p>

        <p id="para">
            I place a strong emphasis on mental health and well-being. I believe that a calm and focused mind is key to both creative and technical success. That’s why I prioritize balance, mindfulness, and emotional awareness in my daily routine.
        </p>

        <p id="para">
            Every day, I strive to improve—both as a developer and as a person.
        </p>



        <!-- <a href="#" id="closeDialog">Close</a> -->
    </div>






    <!-- Link the external script -->
    <script src="{% static 'js/home.js' %}"></script>
</body>