body {
    background-color: #DFDFDD;
    font-family: 'Lora', serif;
}

.content {
    /* background-color: orange; */
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.main-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

#blog-name {
    font-size: 30px;
    margin-left: 5%;
    font-weight: bolder;
}

#date {
    font-style: italic !important;
    margin-left: 5%;
    margin-top: -20px;
}

#back-btn {
    text-align: right;
    margin-right: 20%;
    margin-bottom: 0;
    color: black !important;
    text-decoration: underline;
    font-size: 17px;
    font-weight: bold;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black  !important;
    /* Keeps the same color */
}

pre code.hljs {
    border-radius: 5px;
    font-size: 0.95rem;
}



/* For Mobile */
@media (max-width: 768px) {
    .content {
        /* background-color: orange; */
        max-width: 85%;
    }
}